<div class="">


  <div class="photoflip-container" ontouchstart="this.classList.toggle('hover');">
  	<div class="photoflipper">
  		<div class="photofront" style="background-image: url(<%=p.url%>)">
  			<!-- front content -->
        <span class="badge"><%= p.rating%></span>
  		</div>
  		<div class="photoback">
        <div class="photobox__title">
          <%= p.title %>
        </div>
        <div class="photobox__description">
          <%= p.description %>
        </div>
        <div class="btn btn-success photobox__price" id="<%= p.id%>">
            <%= p.price %>
        </div>

  		</div>
  	</div>
  </div>
</div>
