<div class="">
  <% if user_signed_in? %>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="https://s3.eu-central-1.amazonaws.com/elasticbeanstalk-eu-central-1-037922347252/teststore/devresources/images/noticio-title-clear.gif" alt="oilfields">
          <div class="carousel-caption">
          Notic.io
          </div>
        </div>

        <% @photos.each do |p| %>
          <%= render partial: "carouselcard", locals: { p: p} %>

        <% end %>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>

  <div class="col-md-4">
    <h3>Popular Videos</h3>
    <% @popularvids.each do |v| %>
      <%= render partial: "videos/popularvids", locals: {p: p} %>
    <% end %>
  </div>

  <div class="col-md-4">
    <h3>Popular Photos</h3>
    <% @popularpics.each do |pp| %>
      <%= render partial: "photos/popularpics", locals: {pp: pp} %>
    <% end %>

  </div>
  <div class="col-md-4">
    <h4>Popular Audio</h4>
    <% @popularaudio.each do |a| %>
      <%= render partial: "audio/popularaudio", locals: {a: a} %>
    <% end %>
  </div>
  <% else %>
      <div class="jumbotron">
        <%= link_to "Sign In", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
      </div>
  <% end %>
</div>
