<div class="">


  <div class="photoflip-container" ontouchstart="this.classList.toggle('hover');">
  	<div class="photoflipper">
  		<div class="photofront" style="background-image: url(<%=p.url%>)">
  			<!-- front content -->
        <span class="badge"><%= p.rating%></span>
  		</div>
  		<div class="photoback" style="background-image: url(<%=p.url%>)">
        <div class="photoback__transparent">

          <div class="photobox__title">
            <%= p.title %>
          </div>
          <div class="badges">
            Downloads: <span class="badge"> <%= p.downloads%> </span> </br>
              Rating:<span class="badge"> <%= p.rating%> %</span></br>
              Price: <span class="badge"> € <%= p.price%> </span></br>
          </div>
          <%=link_to "More...", photo_path(p.id), class: "btn btn-default btn-lg btn-block" %>

        </div>
  		</div>
  	</div>
  </div>
</div>
