<div class="">


  <div class="photoflip-container" ontouchstart="this.classList.toggle('hover');">
  	<div class="photoflipper">
  		<div class="photofront" style="background-image: url(<%=a.url%>)">
  			<!-- front content -->
        <span class="badge"><%= a.rating%></span>
  		</div>
  		<div class="photoback">
        <div class="photobox__title">
          <%= a.title %>
        </div>
        <div class="photobox__description">
          <%= a.description %>
        </div>
        <div class="btn btn-success photobox__price" id="<%= a.id%>">
            <%= a.price %>
        </div>
        <%= content_tag :div, class: ["itemdata", "hidden"], data: {results: a} do %>
        <% end %>
  		</div>
  	</div>
  </div>
</div>
